<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for o in obj %}
    <table>
        <tr>
            <th>userid</th>
            <th>id</th>
        <th>title</th>
        <th>body</th>
        </tr>
        <tr>
            <td>{{o.userId}}</td>
            <td>{{o.id}}</td>
            <td>{{o.title}}</td>
            <td>{{o.body}}</td>
        </tr>
    </table>
        
    {% endfor %}
</body>
</html>